@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins";
  --font-inter: "Inter";
  --color-olivine: oklch(0.7315 0.0763 125.03);
  --color-cerulean: oklch(0.5162 0.0894 216.73);
  --color-milk: oklch(0.9958 0.0133 115.82);
  --color-crow: oklch(0.1443 0.0087 51.29);
}

body {
  @apply font-inter text-crow bg-milk;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-poppins;
}
